<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
   <title>layout 1</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
    <div id="menu-top">
        <ul>
            <li><a href="#" title="Trang chu" class="active">Trang chu</a></li>
            <li><a href="#" title="Gioi thieu">Gioi thieu</a></li>
            <li><a href="#" title="Tin tuc">Tin tuc</a></li>
            <li><a href="#" title="San pham">San pham</a></li>
            <li><a href="#" title="Khuyen mai">Khuyen mai</a></li>
            <li><a href="#" title="Dich vu">Dich vu</a></li>
        </ul>
    </div>
    <div id="banner">
        <img src="./images/php-Banner.png" />
    </div>
    <div id="main">
        <div id="left">
            <ul>
                <li>
                    <img src="images/anh1.jpg" />
                   <h3>Việt Nam kêu gọi chấm dứt bạo lực tại Myanmar</h3>
                   <p>Việt Nam nhấn mạnh yêu cầu chấm dứt ngay bạo lực và ổn định tình hình khi xây dựng Tuyên bố Chủ tịch Hội đồng Bảo an về Myanmar, theo Bộ Ngoại giao.</p>
                </li>
                <li>
                    <img src="images/anh2.jpg" />
                   <h3>Việt Nam kêu gọi chấm dứt bạo lực tại Myanmar</h3>
                   <p>Việt Nam nhấn mạnh yêu cầu chấm dứt ngay bạo lực và ổn định tình hình khi xây dựng Tuyên bố Chủ tịch Hội đồng Bảo an về Myanmar, theo Bộ Ngoại giao.</p>
                </li>
                <li>
                    <img src="images/anh3.jpg" />
                   <h3>Việt Nam kêu gọi chấm dứt bạo lực tại Myanmar</h3>
                   <p>Việt Nam nhấn mạnh yêu cầu chấm dứt ngay bạo lực và ổn định tình hình khi xây dựng Tuyên bố Chủ tịch Hội đồng Bảo an về Myanmar, theo Bộ Ngoại giao.</p>
                </li>

            </ul>
        </div>
        <div id="right">
            <div class="menu_right">
                <h3>Danh muc tin tuc</h3>
                <ul>
                    <li><a href="">Menu item 1</a></li>
                    <li><a href="">Menu item 2</a></li>
                    <li><a href="">Menu item 3</a></li>
                    <li><a href="">Menu item 4</a></li>
                    <li><a href="">Menu item 5</a></li>
                    <li><a href="">Menu item 6</a></li>
                    
                </ul>
            </div>
        </div>
    </div>
    <div id="footer">footer</div>
    
</body>
</html>